{% extends "base.html" %}

{#левый блок начало!!!#}
{% block kol_left %}
    <ul>
        {% for vidirasteniy in VidiRasteniySpisok %}
            <li><a href="{% url 'KatalogCvetov:vidrasteniya' vidirasteniy.id %}">{{ vidirasteniy.name_vida }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{#левый блок конец!!!#}

{#правый блок начало!!!#}
{% block right %}
    {% if Rastenie %}
        <div class="katalog_cvetov">
            <div class="stroka">
                <div class="pole_cont_name1">
                    {{ Rastenie.name_rosteniya }}
                </div>
            <div class="foto">
                <div class="pole_cont_foto">
                    <img src="{{ MEDIA_URL }}{{ Rastenie.photo }}" height="200" width="200"/>
                </div>
                {% if RasteniePhoto %}
                    {% for fotorasteniya in RasteniePhoto %}
                        <div class="pole_cont_foto"><img src="{{ MEDIA_URL }}{{ fotorasteniya.photo }}" height="200" width="200"/></div>
                    {% endfor %}
                {% endif %}
            </div>


                <div class="pole_cont_name2">
                    <div class="abzac">Описание: </div>{{ Rastenie.opisanie }}</div>
                <div class="pole_cont_name3">
                    <div class="abzac">Характиристика: </div>{{ Rastenie.coderjat }}</div>
                <div class="pole_cont_name4">
                   <div class="abzac">Польза растения:</div>{{ Rastenie.polza }}</div>
                <div class="pole_cont_name5">
                    <div class="abzac">Способ размножения: </div>{{ Rastenie.sposob_razmnogeniya }}</div>
                <div class="pole_cont_name6">
                    <div class="abzac">Пересадка: </div>{{ Rastenie.peresadka }}</div>
                <div class="pole_cont_name7">
                    <div class="abzac">Особенности ухода: </div>{{ Rastenie.osobennosty_uhod }}</div>
                <div class="pole_cont_name8">
                    <div class="abzac">Температура: </div>{{ Rastenie.temperatera }}</div>
                <div class="pole_cont_name9">
                    <div class="abzac">Свет: </div>{{ Rastenie.svet }}</div>
                <div class="pole_cont_name10">
                    <div class="abzac">Полив: </div>{{ Rastenie.poliv }}</div>
                <div class="pole_cont_name11">
                    <div class="abzac">Влажность воздуха: </div>{{ Rastenie.vlajnost_vozduha }}</div>
                <div class="pole_cont_name12">
                    <div class="abzac">Почва:</div>{{ Rastenie.pochva }}</div>
                <div class="pole_cont_cena">
                    <div class="abzac">Цена:</div>{{ Rastenie.cena }}р.</div>



            </div>
        </div>
    {% else %}
        <p>нет информации</p>
    {% endif %}
{% endblock %}
{#правый блок конец!!!#}

{#!!! Набираем например ul  и жмем клавишу Tab на клавиатере !!!#}
{# emmit  http://emmet.io/#}
{#http://docs.emmet.io/cheat-sheet/#}
{#span{s;lsfke;sksk;l}#}
{#.roma>span.roma2>table#}
{#span*3#}
{#ul>li.dsa$*10#}
{#ul>li.dsa$$$*10#}
{#ul>li.dsa$@5*10#}
{#ul>li.dsa$@-*10#}


