{% extends "base.html" %}

{#левый блок начало!!!#}
{% block kol_left %}
    <ul>
        {% for vidirasteniy in VidiRasteniySpisok %}
            <li><a href="{% url 'KatalogCvetov:vidrasteniya' vidirasteniy.id %}">{{ vidirasteniy.name_vida }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{#левый блок начало!!!#}

{#правый блок начало!!!#}
{% block right %}
    {% if KatalogCvetov %}
        <div class="katalog_cvetov">
            <div class="stroka">
                <div class="pole"><a class="katalog_cvetov_shapka" href="#">Имя растения</a></div>
                <div class="pole"><a class="katalog_cvetov_shapka" href="#">Цена р.</a></div>
                <div class="pole"><a class="katalog_cvetov_shapka" href="#">фото</a></div>
            </div>
            {% for katalog in KatalogCvetov %}
                <div class="stroka">
                    <div class="pole"><a
                            href="{% url 'KatalogCvetov:rastenie' katalog.id %}">{{ katalog.name_rosteniya }}</a>
                    </div>
                    <div class="pole"><a href="/katalog/{{ katalog.id }}/">{{ katalog.cena }}</a></div>
                    <div class="pole"><img src="{{ MEDIA_URL }}{{ katalog.photo }}" height="100" width="100" /></div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>нет информации</p>
    {% endif %}
{% endblock %}
{#правый блок конец!!!#}