<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ТЕСТ ДОК</title>
    <link href="../../static/katalogcvetov/css/test.css" rel="stylesheet" type="text/css">
    <script src='../../static/katalogcvetov/js/jquery-1.11.3.min.js'></script>
    <script src="../../static/katalogcvetov/js/test.js"></script>
</head>

<body>
absolute
<div class="content">
    <div class="block_abs">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>

    <div class="select">
        Селект
        <div class="spisok">
            <div class="sp">Розы</div>
            <div class="sp">Грибы</div>
            <div class="sp">Лиственные</div>
            <div class="sp">Хвойные</div>
        </div>
    </div>

 <div class="select">
        Селект2
        <div class="spisok">
            <div class="sp">Розы</div>
            <div class="sp">Грибы</div>
            <div class="sp">Лиственные</div>
            <div class="sp">Хвойные</div>
        </div>
    </div>
    <input type="text"/>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus earum laudantium libero nobis nulla officia
    optio provident quasi quisquam sequi sit soluta suscipit velit, vitae voluptate. Nemo officiis pariatur velit!
</div>


<div class="btn">КНОПКА</div>


fixed
relative
</body>
</html>
